/* Landing Page Styles */

body{
    overflow: hidden;
}
#home{
    width:100%;
    height: 100%;
    display: table;
    background: url(../images/LandingPage/landing_background.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
#home.game-bound:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-filter: blur(3px);
    -o-filter: blur(3px);
    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    left: 0;
}
#home-wrap{
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
#home .top{
    float: left;
    position: relative;
    width: 100%;
    margin-bottom:60px;
}
.logo{
    float: left;
    position: relative;
    width:100%;
    margin:30px 0;
}
.logo > a{
    display: block;
}

.page-title{
    float: left;
    position: relative;
    width:100%;
}
.page-title h1{
    font-size:48px;
    color:#fff;
    margin-bottom:5px;
}
.page-title .border-long,
.page-title .border-small{
    float: left;
    position: relative;
    width:100%;
    margin-bottom:5px;
}
.page-title .border-long div{
    width: 35%;
    float: none;
    margin: 0 auto;
    height: 3px;
    background: #dca12e;
}
.page-title .border-small div{
    width: 25%;
    float: none;
    margin: 0 auto;
    height: 2px;
    background: #dca12e;
}
#home .page-intro{
    float: left;
    position: relative;
    width:100%;
}
#home .page-intro .intro-section{
    float: left;
    position: relative;
    width:100%;
    background: rgba(51,51,51, 0.77);
}
#home .page-intro .intro-section h2{
    color:#fff;
    font-size: 30px;
    margin:20px 0;
}
#home .page-intro .intro-section .game-intro{
    float: left;
    position: relative;
    width:100%;
    padding-bottom: 20px;
}
#home .page-intro .intro-section .game-intro > h3{
    color: #dca12e;
    font-size: 30px;
    margin: 20px 0 50px 0;
}
#home .game-controls .left > p{
    line-height: 160px;
    font-size: 24px;
    color: #dca12e;
    font-family: ralewaysemibold;
}
#home .game-controls .left {
    padding-top: 90px;
}
#home .game-controls .right {
    padding-right: 40px;
}
#home .game-controls .right > p{
    font-family: ralewaysemibold;
    font-size: 24px;
    color: #dca12e;
    float: left;
    position: relative;
    width:100%;
    text-align: center;
    margin-bottom:30px;
}
#home .game-controls .right .delimiter{
    float: left;
    position: relative;
    width: 100%;
    margin-bottom:30px;
}
#home .game-controls .right .image{
    float: left;
    position: relative;
    width: 100%;
}
#home .game-controls .right .image label{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
    line-height: 75px;
    font-size: 20px;
    font-family: ralewayregular;
}
#start-game-btn{
    float: left;
    position: relative;
    width:100%;
    margin-top:30px;
}
#start-game-btn button{
    width:480px;
    height:70px;
    line-height:65px;
    float: none;
    margin:20px auto 0 auto;
    display: block;
    border-radius:0;
    background:#e7a82e;
    border:none;
    color:#fff;
    font-size:36px;
    font-family: ralewaysemibold;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}
#start-game-btn button:hover{
    background:#e3e3e3;
    color:#e7a82e;
}
main{
    float: left;
    position: relative;
    width:100%;
    background: #fff;
}
main #canvas-section{
    float: left;
    position: relative;
    width:100%;
    height:860px;
}
#team-logo{
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 185px;
    height: 65px;
}

/* Animations */

.slashed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.slashed .top-part,
.slashed .bot-part {
    text-align: center;
    font: 18px/99px arial;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.slashed .top-part:before,
.slashed .bot-part:before {
    content: attr(title);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}
.slashed .top-part {
    position: absolute;
    top: 0;
    left: 5px;
    right: 0;
    bottom: 50%;
}
.slashed .top-part:before {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
}
.slashed .bot-part {
    position: absolute;
    top: 50%;
    left: 0;
    right: 5px;
    bottom: 0;
}
.slashed .bot-part:before {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

/* Landing Page Responsive */

@media (min-width: 1199px) and (max-width: 1600px) {
    .logo {
        margin: 15px 0;
    }
    .logo > a img{
        width: 18%;
    }
    #home .top{
        margin-bottom:30px;
    }
    #home .page-intro > div{
        padding: 0 150px;
    }
    #home .page-intro .intro-section .game-intro > h3{
        margin: 0px 0 20px 0;
    }
    #start-game-btn{
        margin-top:0;
    }
    .page-title h1{
        font-size: 3em;
    }
    #home .page-intro .intro-section h2{
        font-size:2.2em;
    }
    #home .page-intro .intro-section .game-intro > h3{
        font-size:2em;
    }
    .game-controls .left img,
    .game-controls .right img{
        max-width: 85%;
    }
    .game-controls .left .delimiter img{
        max-width: 130%;
    }
    .game-controls .right .delimiter img{
        width:13%;
    }
    #home .game-controls .left > p{
        line-height: 125px;
        font-size: 20px;
    }
    #home .game-controls .right > p{
        font-size:20px;
    }
    #home .game-controls .left {
        padding-top: 75px;
    }
    #home .game-controls .right .image label{
        line-height:48px;
    }
    #start-game-btn button{
        height: 60px;
        line-height: 50px;
        margin: 18px auto 0 auto;
        font-size: 30px;
    }
}